Flask==2.2.5
Flask-SocketIO==5.3.4
eventlet==0.33.3
python-nmap==0.7.1
requests==2.31.0
beautifulsoup4==4.12.3
flask
flask-socketio
flask-login
apscheduler
fpdf
xhtml2pdf
beautifulsoup4
requests
nmap
python-nmap